{% extends "base.html" %}
{% block content %}

<div>
    <table>
        <tr>
            <th>ISBN</th>
            <th>title</th>
            <th>numberOfPage</th>
            <th>language</th>
            <th>img</th>
            <th>publisher</th>
            <th>category</th>
            <th>author</th>
            <th>action</th>
        </tr>


        {% for book in books %}
        <tr>
            <td>{{book.ISBN}}</td>
            <td>{{book.title}}</td>
            <td>{{book.numberOfPage}}</td>
            <td>{{book.language}}</td>
            <td><img src="{{book.img}}" alt=""></td>
            <td>{{book.publisher.name}}</td>
            <td>{{book.category.name}}</td>
            <td>{{book.author.name}}</td>
            <td>
                <form action="{% url 'book:update_book_form' book.ISBN %}" method="GET">
                    {% csrf_token %}
                    <input type="submit" value="Update">
                </form>
                <form action="{% url 'book:delete_book' book.ISBN %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
        {% endfor %}

    </table>
</div>

{% endblock %}
